body{
  background-color: #2C3E50;

}

.photo1 img{
  width: 50%;
  height: 50%;
  border-radius: 30%;
}
.photo2 img{
  width: 60%;
  height: 60%;
  border-radius: 30%;
}
.photo3 img{
  width: 50%;
  height: 50%;
  border-radius: 30%;
}
.icon img{
  width: 5%;
  height: 5%;
}
